.containerAbout {

    width: 70%;
    margin: auto;
    margin-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px solid black;

    h2 {
        margin-bottom: 25px;
        margin-top: 75px;
    }

    p {
        line-height: 2rem;

        strong {
            font-weight: bolder;
        }
    }

    ul {

        li {
            padding: 10px;
        }
    }

}

.depoimentos {
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;

    .texto {
        width: 65%;
        height: 60%;
        border-radius: 10px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        
        h2 {
            padding: 15px;
            padding-bottom: 0;
            line-height: 0;
        }
        h3 {
            padding: 15px;
            padding-top: 0;
            color: rgb(3, 139, 48);
        }
        p {
            padding: 15px;
            line-height: 25px;
        }
    }
    .imagem {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: rgb(15, 15, 15);
        margin: auto;
    }
}
