.button_primary {
    padding: 10px 20px;
    background-color: rgb(32, 32, 32);
    border: 2px solid white;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    border-image: linear-gradient(to right, rgb(0, 230, 238), rgb(1, 167, 98));
    border-image-slice: 15;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;

    a { 
      text-decoration: none;
      color: white;
    }
    
    &:hover {
      background-color: rgb(0, 0, 0);
    }
}

.button_secundary_red {
  padding: 10px 20px;
  background-color: rgb(15, 15, 15);
  border: 2px solid rgb(83, 83, 83);
  margin-top: 20px;
  margin-left: 45%;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;

  a { 
    text-decoration: none;
    color: white;
  }
  
  &:hover {
    background-color: rgb(0, 121, 74);
  }
}

.button_secundary {
  padding: 10px 20px;
  background-color: rgb(32, 32, 32);
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  border-image: linear-gradient(to right, rgb(0, 230, 238), rgb(1, 167, 98));
  border-image-slice: 15;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;

  a { 
    text-decoration: none;
    color: white;
  }
  
  &:hover {
    background-color: rgb(0, 0, 0);
  }
}
