
.featuredSec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 175px;
    width: 90%;
  
    .featuredSec-main {
      display: flex;
      gap: 2rem;
      width: 80%;
      margin: auto;
  
      img {
        width: 40%;
        border-radius: 10px;
        object-fit: cover;
      }
  
      .featuredSec-main-content {
        flex: 1;
        width: 20%;
  
        h2 {
          font-size: 2.5rem;
          width: 70%;
          margin-bottom: 1rem;
          font-weight: bold;
        }
  
        h3 {
          font-size: 1.2rem;
          margin-top: -25px;
          letter-spacing: 1px;
          color: orangered;
          background: linear-gradient(45deg, #01ad88, #00a179); 
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }
  
        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          color: #555;
        }
  
        span {
          font-size: 0.9rem;
          color: #888;
        }
      }
    }
  
    .featuredSec-secondary {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      width: 80%;
      height: auto;
      margin: auto;
      margin-top: 75px;
  
      .card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        width: 29%;
        margin-left: 0;
        margin-bottom: 50px;
        border-top: 1px solid rgb(180, 180, 180);
  
        img {
          width: 100%;
          height: 250px;
          border-radius: 10px;
          margin-top: 15px;
          object-fit: cover;
        }
  
        h3 {
          font-size: 1.5rem;
          font-weight: bold;
          border-bottom: 0;
        }
  
        p {
          font-size: 0.9rem;
          margin-top: 0;
          color: #555;
        }
      }
    }
  }

    .contadorSection2 {
      width: 100%;
      height: 500px;
      background-color: rgb(0, 0, 0);
      align-items: center;
      display: inline-block;
      margin-top: 0px;
      
      h2 {
        color: wheat;
        text-align: center;
        font-size: 3rem;
        margin-top: 100px;

        strong {
          color: yellow;
        }
      }

      h3 {
        color: whitesmoke;
        text-align: center;
        font-weight: normal;
      }
    }

@media (max-width: 1440px) {
  .featuredSec {
  
    .featuredSec-main {

  
      img {
        margin: auto;
        height: 250px;
      }
  
    }
  
    .featuredSec-secondary {
      .card {

        width: 27%;
        margin: auto;
        margin-top: 0;
        img {

        }
  
        h3 {

        }
  
        p {

        }
      }
    }
  }

}


@media (max-width: 1024px) {
  .featuredSec {
  
    .featuredSec-secondary {
      width: 90%;
      gap: 0px;
      .card {

        width: 32%;
        padding: 0;
        gap: 0;

        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

}

@media (max-width: 550px) {
  
.featuredSec {
  
  .featuredSec-main {
    display: inline-block;
    width: 90%;

    img {
      width: 100%;
      margin-top: 50px;
    }

    .featuredSec-main-content {
      width: 100%;
    }
  }

  .featuredSec-secondary {
    display: inline-block;

    .card {
      width: 100%;
    }
  }
}
}