.container_events {
  width: 100%;
  height: 75vh;
  background-color: black;
  background-image: url("./12.jpg");
  display: flex;

  .container {
    width: 100%;
    height: 40%;
    margin: auto;
    margin-top: 150px;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    h2 {
      margin: auto;
      font-size: 100px;
      letter-spacing: 55px;
      font-weight: 800;
      text-align: center;
      background: linear-gradient(45deg, #91ffb6, #09ff00);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      margin-bottom: 0;
    }
    h3 {
      width: 100%;
      font-size: 1.5rem;
      letter-spacing: 0.8rem;
      text-align: center;
      margin: auto;
      margin-top: 35px;
    }
    p {
      width: 100%;
      font-size: 1rem;
      letter-spacing: 0.5rem;
      text-align: center;
      margin-top: 15px;
      color: whitesmoke;
    }
  }
}

.featuredSec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 175px;
  width: 90%;

  .featuredSec-main {
    display: flex;
    gap: 2rem;
    width: 80%;
    margin: auto;

    img {
      width: 40%;
      border-radius: 10px;
      object-fit: cover;
    }

    .featuredSec-main-content {
      flex: 1;
      width: 20%;

      h2 {
        font-size: 2.5rem;
        width: 70%;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      h3 {
        font-size: 1.2rem;
        margin-top: -25px;
        letter-spacing: 1px;
        color: orangered;
        background: linear-gradient(45deg, #01ad88, #00a179);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: #555;
      }

      span {
        font-size: 0.9rem;
        color: #888;
      }
    }
  }

  .featuredSec-secondary {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 75px;

    .card {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: auto;
      margin-top: 0;
      border-top: 1px solid rgb(180, 180, 180);

      .img {
        display: flex;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        margin-top: 15px;
        object-fit: cover;
        background-image: linear-gradient(
          to right top,
          #141817,
          #131c1a,
          #173633,
          #495555,
          #014c52
        );

        h2 {
          font-size: 1.5rem;
          color: rgb(0, 248, 186);
          margin: auto;
          letter-spacing: 3px;
        }
      }

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 0;
      }

      p {
        font-size: 0.9rem;
        margin-top: 0;
        color: #555;
      }
      a {
        font-weight: 600;
      }
    }
  }
}

.contadorSection2 {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  display: inline-block;
  margin-top: 0px;

  h2 {
    color: wheat;
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;

    strong {
      color: yellow;
    }
  }

  h3 {
    color: whitesmoke;
    text-align: center;
    font-weight: normal;
  }
}

@media (max-width: 1440px) {
  .container_events {
    .container {
      h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-top: 5rem;
      }
      h3 {
        font-size: 1.2rem;
        letter-spacing: 0.8rem;
      }
    }
  }

  .featuredSec {
    .featuredSec-main {
      img {
        margin: auto;
        height: 450px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container_events {
    height: 650px;

    .container {
      h2 {
        margin-top: 2rem;
        letter-spacing: 20px;
      }
    }
  }
  .featuredSec {
    .featuredSec-main {
      display: inline-block;
      width: 90%;

      img {
        width: 100%;
        height: 450px;
        border-radius: 5px;
        margin-top: 50px;
      }

      .featuredSec-main-content {
        width: 100%;

        h2 {
          width: 100%;
        }
      }
    }
    .featuredSec-secondary {
      width: 90%;
      gap: 0px;
      .card {
        a {
          margin-bottom: 25px;
        }
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .container_events {
    .container {
      width: 90%;
      h2 {
        font-size: 2rem;
        line-height: 3rem;
        margin-left: auto;
        margin-top: 0rem;
        letter-spacing: 15px;
      }
      h3 {
        font-size: 1rem;
        letter-spacing: 0.8rem;
      }
    }
  }

  .featuredSec {
    .featuredSec-main {
      img {
        height: 350px;
      }

      .featuredSec-main-content {
        width: 100%;

        h2 {
          font-size: 2rem;
        }
      }
    }
    .featuredSec-secondary {
      display: inline-block;

      .card {
        width: 100%;
      }
    }
  }
}
