.footer {
    background-color: #141414;
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 100%;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 83%;
      margin: auto;
  
      .footer-column {
        flex: 1;
        height: 250px;
        margin-top: 25px;
  
        h4 {
          font-size: 18px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 8px;
  
            a {
              color: #fff;
              text-decoration: none;
              transition: color 0.3s;
              font-weight: 100;
  
              &:hover {
                color: #f39c12;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  
    .footer-copyright {
        width: 100%;
        height: 50px;
        margin-top: 25px;
      border-top: 1px solid #444;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }


@media (max-width: 550px ) {
  .footer {

    .footer-container {
      width: 100%;
      display: inline-block;

      .footer-column {
        width: 80%;
        height: auto;
        padding: 5px;
        margin: auto;
      }
    }
  }
}