

.Hero {
  position: relative;
  height: 87vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;


  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Hero__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 85vh;
      object-fit: cover;
    }

    video {
      width: 100%;
      height: 80vh;
      object-fit: cover;
    }

    .Hero__content {
      position: absolute;
      bottom: 75px;
      left: 150px;
      color: white;
      width: 70%;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  

      h1 {
        font-size: 2.2rem;
        margin: 0;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
  .Hero {
    
  }

  .Hero__content {
    margin-left: -75px;
  }
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  .Hero {
    
  }

  .Hero__content {
    bottom: 10px;
    left: 10px;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.875rem;
    }
  }
}

/* Responsividade para celulares */
@media (max-width: 550px) {
  .Hero {
    
  }

  .Hero__content {
    bottom: 5px;
    left: 5px;
    margin-left: -100px;

    h1 {
      font-size: 12px;
      line-height: 40px;
    }

    p {

    }
  }
}
