.containerCustom {
    width: 70%;
    margin: auto;
    height: auto;
    
    .container {
        padding: 20px;
        text-align: center;
    
        h2 {
          margin-top: 50px;
          font-size: 2em;
          font-weight: bold;
        }
    
        .membros {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 20px;
          margin-top: 75px;
          margin-bottom: 75px;
    
          .cardMembro {
            background-color: #f4f4f480;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            
            .fotoMembro {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
              margin-bottom: 10px;
            }
    
            h4 {
              font-size: 1.2em;
              margin: 10px 0;
            }
    
            p {
              font-size: 0.9em;
              color: #555;
            }
          }
        }
      }
}