.Newsletter {
    width: 100%;
    height: 400px;
    background-color: rgb(27, 27, 27);
    display: flex;
  
    .container {
      width: 80%;
      height: 60%;
      background-color: transparent;
      border: 1px solid;
      margin: auto;
      border-image: linear-gradient(to right, rgb(0, 106, 133), rgb(0, 224, 93));
      border-image-slice: 15;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      h2 {
        color: white;
        margin-bottom: 0px;

        img {
          width: 30px;
          margin-left: 15px;
        }
      }

      p {
        color: white;
        width: 80%;
        text-align: center;
        font-size: .9rem;
        font-weight: 200;
        margin-bottom: 20px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
  
      input {
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
        max-width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        outline: none;
        transition: all 0.3s;
        
        &:focus {
          border-color: rgb(0, 106, 133);
        }
      }
  
      button {
        padding: 10px 20px;
        background-color: rgb(24, 24, 24);
        border: 1px solid white;
        margin-top: 10px;
        border-radius: 5px;
        color: white;
        border-image: linear-gradient(to right, rgb(255, 0, 64), rgb(1, 228, 133));
        border-image-slice: 15;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        
        &:hover {
          background-color: rgb(0, 0, 0);
        }
      }
    }
  }

  @media (max-width: 10240px) {
    .Newsletter {
      height: auto;

      .container {
        margin-top: 55px;
        margin-bottom: 55px;

        button {
          margin-bottom: 25px;
        }
      }
    }
  }

@media (max-width: 550px) {
  .Newsletter {

    .container {

      h2 {
        text-align: center;
      }

      p {
        width: 100%;
        font-size: .7rem;
      }

      input {
        width: 80%;
      }
    }
  }
}