.parceiros {
    width: 100%;
    height: 300px;
    display: flex;

    .text {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        h2 {
            margin: auto;
                font-size: 3rem;
                color: white;
                letter-spacing: 3px;
            }
        }
}

.parceiro1 {
    background-color: rgb(1, 196, 196);
    background-image: url('../assets/11.jpg');
}

.parceiro2 {
    background-color: rgb(243, 243, 243);
    background-image: url('../assets/9.jpg');
}

.parceiro3 {
    background-color: rgb(0, 221, 210);
    background-image: url('../assets/8.jpg');
}