.secundaryPage {
    width: 100%;
    height: 450px;
    display: flex;
    background-color: rgb(37, 37, 37);
}

.containerSecundaryPage {
    width: 70%;
    height: 850px;
    margin: auto;
    margin-top: -300px;
    background-color: transparent;

    img {
        width: 100%;
        height: 80%;
        border-radius: 10px;
    }

    h2 {
        color: black;
    }
}