
$h2-font-size: 2rem;
$h2-font-size-custom: 2.3rem;
$h2-font-size-responsivo: 1.5rem;

$h3-font-size: 1.5rem;
$h3-font-size-responsivo: 1.125rem;
$h3-font-size-custom-responsivo: 2rem;

$p-font-size: 1.15rem;
$p-font-size-responsivo: 1rem;

$line-height-normal: 1.5rem;


$p-font-family: 'Open Sans', sans-serif;
$p-font-weight: 300;